# IDE
.vscode/
*.code-workspace

# Byte-compiled / optimized / DLL files
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv
venv/

# Logs
logs/
*.log

# Scratch/temp files
*.tmp
Notes.md